<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body style="background-color:rgb(240, 240, 240)" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center my-5">Account Statement</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <table class=" table table-striped table-hover table-bordered" style="width:100%;">
                            <thead class="thead-dark">
                              <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Amount</th>
                                <th>Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in tr %}
                                <tr>
                                  <td>
                                    {% if i.sender is None %}
                                    self
                                    {% else %}
                                    {{i.sender}}
                                    {% endif %}
                                  </td>
                                  <td>
                                    {% if i.receiver is None %}
                                    self
                                    {% else %}
                                    {{i.receiver}}
                                    {% endif %}
                                  </td>
                                  <td>{{i.amount}}</td>
                                  <td>{{i.time_transtaction}}</td>

                                </tr>
                              {% endfor%}
                            </tbody>
                            <tbody>

                            </tbody>
                          </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url "profile"%}" class="btn btn-success">Back to Profile Page</a>
            </div>
        </div>
    </div>

  </body>
</html>
