<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .box{
            width:150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #333;
            margin: 0 auto;
        }
    </style>
  </head>

  <body style="background-color:rgb(240, 240, 240)" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center my-5">Account Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                        {% for i in d %}
                    <div class="card-header">
                            {{i.title}} {{i.user.first_name}}
                    </div>
                    <div class="card-body text-center">
                            <div class="box" style="background: url('/media/{{i.profile_picture}}'); background-size: 100% 100%;"></div>
                            <h1 class="text-center mt-4">{{i.title}} {{i.user.first_name}}</h1>
                            <h4>Your Account Balance is :</h4>
                            <h2 class="display-4 bg-success text-white  p-3">  
                                    {% for i in d %}
                                    &#8377; {{i.account_balance}}
                                  {% endfor%}   
                            </h2>
                    </div>
                    
                    {% endfor%}
                </div> 
                    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url "profile"%}" class="btn btn-success mt-5">Back to Profile Page</a>
            </div>
        </div>
    </div>

  </body>
</html>
