<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->

  </head>
  <body style="background:url('{% static 'images/bg2.jpg'%}')">
    <div class="container mt-5 " >
      <div class="row my-2 mx-2 p-5"  >
        <div class="col-md-6 bg-light mx-auto my-auto border p-4  " style="border-radius:19px;">
          <form method="post">
            {% csrf_token %}

          <br>
          <h1 class="display-4 text-center">Login Here</h1>
          <hr />
          <label for="">User Name</label>
          <input type="text" name="un" value="" class="form-control">
          <br>
          <label for="">Password</label>
          <input type="password" name="pwd" value="" class="form-control">
          <div class="text-center">
          <input type="submit"  class="btn btn-success mt-4 btn-block" value="Login"/>
        </div>
          {% if wrngpass %}
          <script type="text/javascript">
          alert("{{wrngpass}}");

          </script>

          {% endif %}

          </form>


        </div>

      </div>

    </div>
  </body>
</html>
