<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <style media="screen">
      .logo , .logo-basic{
        display:inline-block;
      }
      .icons{
        font-size: 2.6em;
        display:inline;
        margin-left: 38px;
      }
    </style>
  </head>
  <body>
  <div class="container-fluid">
    <div class="logo">
      <h1 style="margin-left:60px"><img src='{% static 'images/e.png'%}'>-Banking</h1>
    </div>
      <div class="logo-basic">
        <ul class="nav-top ">
        <li style="margin-left:130px;display:inline"><i class="fas fa-phone"></i><span> &nbsp +91 7508860012</span></li>
        <li style="margin-left:70px;display:inline"><a href="mailto:rajatx95@mail.com"><i class="far fa-envelope" ></i> &nbsp rajatx95@gmail.com</a></li>
        </ul>
    </div>
    <div class="icons">
      <li style="display:inline"><a href="https://plus.google.com/"><i class="fab fa-google-plus-square">&nbsp</i></a></li>
      <li style="display:inline"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square">&nbsp</i></a></li>
      <li style="display:inline"><a href="https://twitter.com/"><i class="fab fa-twitter-square">&nbsp</i></a></li>
      <li style="display:inline"><a href="https://www.instagram.com/awsmrajat/"><i class="fab fa-instagram">&nbsp</i></a></li>


    </div>
    <div class="row my-2">
      <div class="col-md-12 px-0">
          <nav class="navbar navbar-expand bg-success navbar-dark">

            <ul class="navbar-nav ml-5 mx-auto" style="font-size:1.9em;font-weight:bold;color:white;">
              <!-- <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle='dropdown'>Home</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-items">Sign Up</a>
                  <a href="#"class="dropdown-items">Log in</a>
                </div>
              </li> -->
              <li class="nav-item ml-3 mr-3 p-1">
                <a href="" class="nav-link" style="color:white">Home</a>

              </li>
              <li class="nav-item ml-3 mr-3 p-1">
                <a href="#" class="nav-link "style="color:white">About</a>

              </li>
              <li class="nav-item ml-3 mr-3 p-1">
                <a href="{% url "signup"%}" class="nav-link "style="color:white">Sign Up</a>

              </li>
              <li class="nav-item ml-3 mr-3 p-1">
              <a href="{% url "signin"%}" class="nav-link ml-4 pl-2"style="color:white">Log In</a>
              </li>

              <li class="nav-item p-1 ml-3" >
                <a href="#" class="nav-link "style="color:white">Contact US</a>

              </li>
            </ul>

          </nav>
      </div>


    </div>
  {% block body_block %}
  {% endblock %}

  <div class="row p-5 m-1" style="background-color:lightgray">
    <div class="col-md-7 sm-7 p-3">
      <a style="margin-left:50px;font-size:1.7em" href="#">Home</a> &nbsp <a style="margin-left:50px;font-size:1.7em"href="#">About</a>&nbsp <a style="margin-left:50px;font-size:1.7em" href="#">services</a>&nbsp <a style="margin-left:50px;font-size:1.7em" href="#">Contact Us</a>
      <br>
      <hr style="height:21px">
      <p>Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et ctetur adipiscing elit. Cras rutrum iaculis</p>
    </div>
    <div class="col-md-4 sm-4 p-2 ml-1">
      <div class="">
        <p>Click the link below to start the subscription service</p>
        <h5><a href="#">Subscribe</a></h5>

      </div>
    </div>
  </div>
    <div class="jumbotron" style="text-align:center;margin-top:5px">
      <i class="fas fa-copyright" style="display:inline;"></i> &nbsp &nbsp<h3 style="display:inline;">2018 E-Banking. All rights reserved | Design by rajat4665@gmail.com</h3>

      <h2>Thankyou for visiting</h2>
    </div>
    <br>

  </div>
  </body>
</html>
