<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile page</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style media="screen">
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:darkgray;
}

.label {
  float: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.modal-backdrop{
  background:rgba(0,0,0,0.5);
}
body{
  overflow-x:hidden;
}
</style>
<script>
  $(function(){
    $.ajax({
    url:'{% url "user_notify" %}',
    data:{'user':'notification'},
    success:function(data){
      // alert(data);
      $('.notify').html("<small class='badge'>"+data+"</small>").css({'position':'absolute','top':'-7px','left':'60%','font-size':'13px','color':'red'});
      $('.bell').css({'color':'blue'});
    }
  });
  $('.bell').click(function(){
    $.ajax({
      url:'{% url "user_notify" %}',
      data:{show:'notification'},
      success: function(data){
        rs = JSON.stringify(data)
        a='';
        for(i in data){
          a+= '<li id="'+data[i].pk+'" class="list-group-item list-group-item-action">'+data[i].fields.message+'</li>';
        }
        $('.sh').html(a);
        $('#nbutton').click();
      },
      error: function(data1){
        alert(JSON.stringify(data1));
      }
  });
  });
  });
</script>
  </head>

  <body style="background-color:rgb(240, 240, 240)" >
    <div class="container-fluid">

      <!-- NOTIFICATION MODAL -->
      <button type="button" style='display:none;' id='nbutton' class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>
        
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <ul class='list-group sh' style='height:400px; overflow: auto;'>

                </ul>
                
              </div>
                
            </div>
          </div>
        </div>



      <div class="row">
        <div class="col-md-2 p-1 "style="">
          <div class="nav navbar navbar-dark " style="background-color:#102444">
            <a class="navbar-brand mt-4" href=""><img src='{% static 'images/e.png'%}'>-Banking</a>

            <ul class="navbar-nav mt-4">
              <li class="nav-item active">
                <a class="nav-link" href="#">ACCOUNTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Balance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Details</a>
              </li>
            </ul>
            <br>
            <ul class="navbar-nav mt-4">
              <li class="nav-item active">
                <a class="nav-link" href="{% url "mytrans"%}">TRANSACTIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "recentTrans"%}">Recent Transitions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fund Transfer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bill payments</a>
              </li>
          </div>

        </div>
        <div class="col-md-10">
          <nav class="nav navbar navbar-expand navbar-light bg-light">
            <input class="form-control form-control-dark "type="search" name="" value="" placeholder="search" style="background-color:lightgray; width:50%;"></input>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item nv" style="">
                  <a href="#" class='nav-link'><i style="font-size:1.7em; position:relative;"class="fab fa-facebook-messenger"></i></a>
                </li>

                <li class="nav-item nv">
                  <a href="#" class='nav-link'> <i style="font-size:1.7em; position:relative;"class="fas fa-bell bell">&nbsp<span class='notify'></span></i></a>
                </li>
                <li class="nav-item nv" style="">
                  <div class="dropdown ml-1" style="">
                    {% for i in d %}
                      {% if i.profile_picture %}{{i.profile_pic}}
                        <img src='/media/{{i.profile_picture}}'alt="" height=50 width=50 style='border-radius:50%;'>
                      {% endif %}
                    {% endfor %}

                  <a class="dropbtn" style="font-size:1.3em;background-color:lightgray;border-radius:15px">&nbsp &nbsp{{user.username}} &nbsp &nbsp
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="{% url "logout"%}">sign out</a>
                    <a href="#">help</a>
                    <a href="#">Contact u</a>
                  </div>
              </div>
              </li>
            </ul>
            </nav>

            <div class='row'>
                <div class='col-md-12'>
                    <h4 class='p-1 text-secondary'>PROFILE > ALL NOTIFICATIONS</h4>
                    <ul class='list-group m-4'>
                        {% for i in nt %}
                        {% if i.status is False %}
                            <li class='list-group-item list-group-item-action' style='background:#ccc'>{{i.message}}<small class='float-right'>- {{i.action_on}}</small></li>
                        {% else %}
                        <li class='list-group-item list-group-item-action'><small class='float-right'>- {{i.action_on}}</small>{{i.message}}</li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>


          </div>
        </div>


  </body>
</html>
