<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recent Transactions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->

  </head>
  <body >
    <div class="container " >
      <br>
      <div class="row"  >
        <br>
        <div class="jumbotron" style="text-align:center;width:100%;">
          <h1>Your Recent transactions are here</h1>
        </div>
        <div class="col-md-6 mx-auto my-auto">
          <h1>Sent</h1>
        <table class=" table table-striped table-hover" style="width:100%;border:7px outset coral;">
          <thead>
            <tr>
              <th>Unique id</th>
              <th>Sender</th>
              <th>Receiver</th>
              <th>Amount</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {% for i in mytr1 %}
              <tr>
                <td>{{i.id}}</td>
                <td>
                  {% if i.sender is None %}
                  self
                  {% else %}
                  {{i.sender}}
                  {% endif %}
                </td>
                <td>
                  {% if i.receiver is None %}
                  self
                  {% else %}
                  {{i.receiver}}
                  {% endif %}
                </td>
                <td>{{i.amount}}</td>
                <td>{{i.time_transtaction}}</td>

              </tr>
            {% endfor%}
          </tbody>
          <tbody>

          </tbody>
        </table>
          </div>

<br>
<div class="col-md-6 mx-auto ">
  <h1>Received</h1>
<table class=" table table-striped table-hover" style="width:100%;border:7px outset coral;">
  <thead>
    <tr>
      <th>Unique id</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Amount</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for i in mytr2 %}
      <tr>
        <td>{{i.id}}</td>
        <td>
          {% if i.sender is None %}
          self
          {% else %}
          {{i.sender}}
          {% endif %}
        </td>
        <td>
          {% if i.receiver is None %}
          self
          {% else %}
          {{i.receiver}}
          {% endif %}
        </td>
        <td>{{i.amount}}</td>
        <td>{{i.time_transtaction}}</td>

      </tr>
    {% endfor%}
  </tbody>
  <tbody>

  </tbody>
</table>

</div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url "profile"%}" class="btn btn-success mt-5">Back to Profile Page</a>
            </div>
        </div>
      </div>

  </body>
</html>
