<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->

  </head>
  <body style="background:url('{% static 'images/bg1.jpg'%}')">
    <div class="container-fluid p-2 ">
      <div class="row my-2 mx-2 p-5">
        <div class="col-md-6 bg-light mx-auto my-auto" style="border-radius:19px;">
          <br>
          <h1 class="jumbotron" style="text-shadow:1px 10px 17px black">Sign Up here</h1>

          <form method="post" enctype='multipart/form-data'>
            <br>
            {% bootstrap_form form %}
            {% csrf_token %}
            <br>
            <input type="checkbox" name="" value="" required> I am agree with ur term and conditions</input>
            <br>
            <br>
            <input type="submit" name="" style="margin-top:25px;margin-bottom:15px;border-radius:20px"class="btn btn-success btn-block p-2 m-1  "value="Sign Up">
            <script>
  function OnClick() {
  alert("Thank you for registering");
  }
  </script>

          </form>

          <br>

        </div>

      </div>

    </div>
  </body>
</html>
